@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-light: 6 164 140; /* #06A48C */
  --color-primary-dark: 7 128 108; /* #07806C */
  --color-text: 16 19 19; /* #101313 */
  --color-surface: 255 255 255; /* #FFFFFF */
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply font-sans antialiased text-base text-gray-900;
}

::selection {
  background: rgba(var(--color-primary-dark) / 0.25);
}